@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: Lato;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top {
  margin-top: 30px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  margin-left: 12px;
  margin-right: 36px;
}
.header__logo span {
  font-weight: 900;
  color: #f16d7f;
}
.header__logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 12px;
  padding-right: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
}
.header__select > li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.header__main-link {
  color: #222222;
}
.header__submenu.open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px 0px);
          transform: translate(0px 0px);
  pointer-events: all;
}
.header__input {
  margin-right: -2px;
  margin-left: -2px;
  height: 38px;
  width: 280px;
  padding-left: 16px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}
.header__search {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.header__row-2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__cart {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-right: 25px;
}
.header__select-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 5px 28px 5px 15px;
  background-color: #f16d7f;
}
.header__select-2 > li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.header__main-link-2 {
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.header__submenu-2 {
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 42px;
  padding-left: 12px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px #646464;
          box-shadow: 0px 0px 10px 0px #646464;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__submenu-2.open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px 0px);
          transform: translate(0px 0px);
  pointer-events: all;
}
.header__submenu-link-2 {
  display: inline-block;
  color: #f16d7f;
  padding: 12px 0;
  padding-right: 12px;
  min-width: 112px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__li {
  position: relative;
  padding: 20px 25px;
}
.header__link {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.header__hr {
  border: 1px solid #ececec;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.submenu {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 37px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 5px 0px #646464;
          box-shadow: 0px 1px 5px 0px #646464;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.submenu__item {
  width: 236px;
}
.submenu__title {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  border-bottom: 1px solid #e8e8e8;
}
.submenu__link {
  display: block;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4f4f4f;
}

.megamenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  gap: 25px;
  opacity: 0;
  -webkit-box-shadow: 0px 0px 10px 0px #646464;
          box-shadow: 0px 0px 10px 0px #646464;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.megamenu__item {
  width: 235px;
}
.megamenu__title {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  border-bottom: 1px solid #e8e8e8;
}
.megamenu__link {
  display: block;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
}
.megamenu__link:hover {
  color: #f16d7f;
}

.megamenu::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 40px;
  display: block;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-top: 1px solid #646464;
  border-left: 1px solid #646464;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__list li:hover .megamenu {
  pointer-events: all;
  opacity: 1;
}

.last:hover .megamenu {
  right: 0;
  left: auto;
}

.last:hover .megamenu::before {
  right: 55px;
  left: auto;
}

.rating-mini {
  display: inline-block;
  font-size: 0;
}

.rating-mini span {
  padding: 0px;
  font-size: 20px;
  line-height: 1;
  color: lightgrey;
}

.rating-mini > span:before {
  content: "★";
}

.rating-mini > span.active {
  color: gold;
}

.cart {
  position: relative;
}
.cart__window {
  pointer-events: none;
  z-index: 5;
  position: absolute;
  top: 90px;
  padding: 20px 15px;
  background-color: #fff;
  opacity: 0;
  -webkit-box-shadow: 0px 0px 10px 0px #646464;
          box-shadow: 0px 0px 10px 0px #646464;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cart__window::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 15px;
  display: block;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-top: 1px solid #646464;
  border-left: 1px solid #646464;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.cart__item {
  margin-bottom: 15px;
}
.cart__summ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 30px;
}
.cart__summ p {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.cart__chechout {
  display: block;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.cart__go-to-cart {
  display: block;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  border: 1px solid #eaeaea;
}

.cart__window.open {
  pointer-events: all;
  opacity: 1;
}

.item {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
}
.item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  position: relative;
  padding-bottom: 37%;
  margin-right: 10px;
}
.item__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.item__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
}
.item__title {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.item__cost {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
}
.item__cost span {
  font-size: 10px;
}
.item__button {
  margin-left: auto;
}
.item__cross {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 30;
  margin-top: 34px;
}
.item__cross::before, .item__cross::after {
  content: "";
  background-color: #e4c4c4;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}
.item__cross::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}
.item__cross::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 9px;
}

.arrow {
  position: absolute;
  right: 0;
  top: 17px;
  margin-right: 6px;
  width: 0;
  height: 0;
  border-top: 5px solid #838383;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrow.active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.arrow-2 {
  position: absolute;
  right: 0;
  top: 20px;
  margin-right: 9px;
  width: 0;
  height: 0;
  border-top: 5px solid #ffffff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrow-2.active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search__button {
  padding: 11px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
}
.search__button img {
  width: 14px;
  height: 14px;
}

.background {
  background-color: #e8e8e8;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner__article {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-left: 14px solid #f16d7f;
}
.banner__title {
  padding-left: 12px;
  margin-top: -14px;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
}
.banner__text {
  margin-bottom: -9px;
  padding-left: 12px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
}
.banner__span {
  color: #f16d7f;
}
.banner__con {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.banner__image {
  position: relative;
  padding-bottom: 100%;
}
.banner__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.categories {
  margin: 100px 0;
}
.gallery__link {
  display: block;
}
.gallery__items {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-rows: 1fr 20px 1fr 20px 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
}
.gallery__item {
  position: relative;
  padding-bottom: 47%;
}
.gallery__item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__item-big {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}
.gallery__info {
  position: absolute;
  top: 25px;
  background-color: #ffffff;
}
.gallery__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.gallery__text {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.products__article {
  text-align: center;
}
.products__title {
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
}
.products__text {
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}
.products__items {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 60px;
}
.products__item {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: auto 1fr minmax(40px, auto);
  -ms-grid-columns: 1fr;
      grid-template: auto 1fr minmax(40px, auto)/1fr;
}
.products__item:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.products__item:hover .products__image {
  background-color: #000;
}
.products__hover {
  opacity: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(58, 56, 56, 0.83);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.products__hover:hover {
  opacity: 1;
}
.products__add-to-cart {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 15px 12px 14px 43px;
}
.products__add-to-cart::before {
  content: url(../img/cart_ico.png);
  position: absolute;
  top: 10px;
  left: 12px;
}
.products__image {
  position: relative;
  padding-bottom: 107%;
}
.products__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.products__name {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  padding: 20px 0px 15px 13px;
}
.products__price {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  padding-left: 13px;
}
.products__btn {
  text-align: center;
  margin-bottom: 110px;
}
.products__button {
  margin: 0 auto;
  padding: 18px 20px 18px 24px;
  font-size: 16px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  background-color: #f16d7f;
  color: #ffffff;
}

.fa {
  margin-left: 10px;
}

.attributes {
  margin-bottom: 100px;
}
.attributes__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.attributes__sale {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 68.666%;
          flex: 0 1 68.666%;
}
.attributes__image {
  position: relative;
  padding-bottom: 69%;
}
.attributes__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.attributes__image::before {
  content: "";
  background-image: url(../img/attr_mask.png);
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.attributes__sale-text {
  position: absolute;
  z-index: 3;
  top: 140px;
  left: 40px;
}
.attributes__sale-text p {
  font-size: 53.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.attributes__sale-text span {
  color: #f16d7f;
}
.attributes__sale-text p:last-child {
  font-size: 32.2px;
}
.attributes__items {
  background-color: #222224;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.attributes__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-right: 38px;
}
.attributes__ico {
  margin: 0px 30px 0px 36px;
}
.attributes__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  margin-bottom: 14px;
}
.attributes__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.feedback {
  background: url(../img/feedback_bg.jpg) 0 0/100% 100% no-repeat;
  position: relative;
}
.feedback__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 440px;
}
.feedback__hr {
  z-index: 4;
  height: 100%;
  width: 1px;
  border-left: 1px solid #fff;
}

.feedback::before {
  content: "";
  background-image: url(../img/feedback_before.png);
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.review {
  z-index: 3;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-right: 70px;
  margin-bottom: 30px;
}
.review__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.review__image {
  margin-right: 25px;
}
.review__image img {
  border-radius: 50%;
}
.review__text {
  margin-top: 10px;
}
.review__quote {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
  margin-bottom: 10px;
}
.review__author {
  width: 100px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #222224;
  letter-spacing: 0.025em;
}
.review__author span {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #f16d7f;
}
.review__slider {
  margin-top: 40px;
  width: 140px;
  height: 5px;
  position: relative;
}
.review__slider::before, .review__slider::after {
  content: "";
  background-color: #d6d6d6;
  position: absolute;
  width: 30%;
  height: 4px;
}
.review__slider::before {
  left: 0;
}
.review__slider::after {
  right: 0;
}
.review__slider span {
  background-color: #f16d7f;
  position: absolute;
  width: 30%;
  height: 4px;
  left: 50px;
}

.form {
  z-index: 4;
  margin-bottom: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
}
.form__text {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
  margin-bottom: 30px;
}
.form__text span {
  font-size: 24px;
  line-height: 54px;
  text-transform: uppercase;
}
.form__forma input {
  width: 260px;
  padding: 15px 0px 15px 25px;
  background-color: #e1e1e1;
  border-radius: 23px 0px 0px 23px;
}
.form__forma button {
  padding: 15px 20px;
  background-color: #f16d7f;
  border-radius: 0px 23px 23px 0px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.info {
  margin-top: 100px;
  padding-bottom: 80px;
}
.info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info__desc {
  width: 440px;
}
.info__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
  margin-top: 28px;
}
.info__text p:first-child {
  margin-bottom: 25px;
}
.info__title h4 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.info__link-first {
  font-size: 16px;
  line-height: 59px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}
.info__link {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}
.footer {
  height: 80px;
  background-color: #e6e6e6;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__rights {
  margin-top: 20px;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}