$pink: #f16d7f;

.sp-head {
    background-color: #f8f3f4;
    &__row {
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: $pink;
    }

    &__breadcrumbs {
        display: flex;
    }

    &__breadcrumbs p {
        padding-left: 5px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: $pink;
    }

    &__breadcrumbs span {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: $pink;
    }
}
.container {
}
.sp-bread {
    padding: 0px 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;
    transition: 0.3s;
}

.sp-bread:hover {
    font-weight: 700;
    color: $pink;
}

.sp-descr {
    &__row {
        text-align: center;
        padding: 70px 250px 120px 250px;
        margin-bottom: 120px;
        border: 1px solid #eaeaea;
        background-color: #fff;
        margin-top: -85px;
        position: relative;
        z-index: 1;
    }

    &__main-title {
        border-bottom: 1px solid #eaeaea;
        margin: 0 auto;
        width: 150px;
        padding-bottom: 10px;
        position: relative;
        margin-bottom: 15px;

        h4 {
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
            color: #f16d7f;
        }
    }

    &__main-title::before {
        content: "";
        width: 63px;
        height: 3px;
        background-color: #ef5b70;
        position: absolute;
        bottom: -2px;
        left: 28%;
        z-index: 2;
    }

    &__title {
        margin-bottom: 56px;
    }

    &__title h4 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 900;
        text-transform: uppercase;
        color: #4d4d4d;
    }

    &__article {
        margin: 0 auto;
        width: 620px;
        margin-bottom: 24px;
    }

    &__article p {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #5e5e5e;
    }

    &__material {
        justify-content: center;
        display: flex;
    }

    &__material span {
        color: #2f2f2f;
    }

    &__mat {
        margin-right: 40px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #b9b9b9;
    }

    &__des {
        margin-right: -20px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #b9b9b9;
    }

    &__peice {
        margin-top: 36px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: #ef5b70;
    }

    &__hr {
        margin-top: 40px;
        border: 1px solid #eaeaea;
    }

    &__choose {
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }

    &__butto {
        display: block;
    }

    &__button {
        display: flex;
        border: 1px solid #ef5b70;
        max-width: 530px;
        justify-content: center;
        margin: 0 auto;
    }

    &__atc {
        margin-left: 10px;
        padding: 18px 0px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        color: #ef5b70;
    }
}

.choose {
    margin-bottom: 28px;
    &__title {
        text-align-last: left;
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #2f2f2f;
    }

    &__two {
        margin: 0px 50px;
    }

    &__color {
        border: 1px solid #eaeaea;
        padding-left: 10px;
        width: 144px;
        height: 35px;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #bcbcbc;
    }

    &__size {
        border: 1px solid #eaeaea;
        padding-left: 10px;
        width: 144px;
        height: 35px;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #bcbcbc;
    }

    &__number {
        border: 1px solid #eaeaea;
        padding-left: 12px;
        width: 144px;
        height: 35px;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #bcbcbc;
    }
}

.sp-alsolike {
    &__title {
        text-align: center;
        margin-bottom: 70px;
        h4 {
            font-size: 24px;
            line-height: 20px;
            font-weight: 900;
            text-transform: uppercase;
            color: #4d4d4d;
        }
    }
}

.slider {
    z-index: 1;
    position: relative;
    background-color: #f7f7f7;
    padding-bottom: 40px;

    &__item {
        text-align: center;
    }
}

/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
// ! Стрелка */
.slick-arrow {
    margin-top: -30px;
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 47px;
    height: 47px;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
    left: 0;
    background: url("../img/left.svg") center / 20% no-repeat;
    background-color: rgba(42, 42, 42, 0.14);
}
/* Стрелка вправо */
.slick-arrow.slick-next {
    right: 0;
    background: url("../img/right.svg") center / 20% no-repeat;
    background-color: rgba(42, 42, 42, 0.14);
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.accordion__item {
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
}

.accordion__link {
    display: block;
    font-size: 14px;
    line-height: 33px;
    font-weight: 400;
    color: #6f6e6e;
}

.accordion__header {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
}

.accordion__header::before {
    content: "";
    margin-right: 10px;
    width: 5px;
    height: 37px;
    background-color: $pink;
}

.accordion__header::after {
    // flex-shrink: 0;
    // width: 1.25rem;
    // height: 1.25rem;
    // margin-left: auto;
    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    // background-repeat: no-repeat;
    // background-size: 1.25rem;
    content: "";
    position: absolute;
    right: 5px;
    // transition: transform 0.2s ease-out;
    width: 0;
    height: 0;
    border-top: 5px solid #838383;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transition: 0.3s;
}

.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
    transform: rotate(-180deg);
    border-top: 5px solid $pink;
}

.accordion__item_show .accordion__header {
    color: $pink;
}

.accordion__header:hover {
}

.accordion__item:not(.accordion__item_show) .accordion__header {
}

.accordion__content {
    padding-left: 15px;
    padding-top: 10px;
    background: #fff;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}
