$pink: #f16d7f;

.sp-head {
    background-color: #f8f3f4;
    &__row {
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 24px;
        line-height: 20px;
        text-transform: uppercase;
        color: $pink;
        h4 {
            font-weight: 900;
        }
    }

    &__breadcrumbs {
        display: flex;
    }

    &__breadcrumbs p {
        padding-left: 5px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: $pink;
    }

    &__breadcrumbs span {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: $pink;
    }
}
.container {
}
.sp-bread {
    padding: 0px 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;
    transition: 0.3s;
}

.sp-bread:hover {
    font-weight: 700;
    color: $pink;
}

.sp-descr {
    &__row {
        text-align: center;
        padding: 70px 250px 120px 250px;
        margin-bottom: 120px;
        border: 1px solid #eaeaea;
        background-color: #fff;
        margin-top: -85px;
        position: relative;
        z-index: 1;
    }

    &__main-title {
        border-bottom: 1px solid #eaeaea;
        margin: 0 auto;
        width: 150px;
        padding-bottom: 10px;
        position: relative;
        margin-bottom: 15px;

        h4 {
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
            color: #f16d7f;
        }
    }

    &__main-title::before {
        content: "";
        width: 63px;
        height: 3px;
        background-color: #ef5b70;
        position: absolute;
        bottom: -2px;
        left: 28%;
        z-index: 2;
    }

    &__title {
        margin-bottom: 56px;
    }

    &__title h4 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 900;
        text-transform: uppercase;
        color: #4d4d4d;
    }

    &__article {
        margin: 0 auto;
        width: 620px;
        margin-bottom: 24px;
    }

    &__article p {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #5e5e5e;
    }

    &__material {
        justify-content: center;
        display: flex;
    }

    &__material span {
        color: #2f2f2f;
    }

    &__mat {
        margin-right: 40px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #b9b9b9;
    }

    &__des {
        margin-right: -20px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #b9b9b9;
    }

    &__peice {
        margin-top: 36px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: #ef5b70;
    }

    &__hr {
        margin-top: 40px;
        border: 1px solid #eaeaea;
    }

    &__choose {
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }

    &__butto {
        display: block;
    }

    &__button {
        display: flex;
        border: 1px solid #ef5b70;
        max-width: 530px;
        justify-content: center;
        margin: 0 auto;
    }

    &__atc {
        margin-left: 10px;
        padding: 18px 0px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        color: #ef5b70;
    }
}

.choose {
    margin-bottom: 28px;
    &__title {
        text-align-last: left;
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #2f2f2f;
    }

    &__two {
        margin: 0px 50px;
    }

    &__color {
        border: 1px solid #eaeaea;
        padding-left: 10px;
        width: 144px;
        height: 35px;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #bcbcbc;
    }

    &__size {
        border: 1px solid #eaeaea;
        padding-left: 10px;
        width: 144px;
        height: 35px;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #bcbcbc;
    }

    &__number {
        border: 1px solid #eaeaea;
        padding-left: 12px;
        width: 144px;
        height: 35px;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #bcbcbc;
    }
}

.sp-alsolike {
    &__title {
        text-align: center;
        margin-bottom: 70px;
        h4 {
            font-size: 24px;
            line-height: 20px;
            font-weight: 900;
            text-transform: uppercase;
            color: #4d4d4d;
        }
    }
}

.slider {
    z-index: 1;
    position: relative;
    background-color: #f7f7f7;
    padding-bottom: 40px;

    &__item {
        text-align: center;
    }
}

/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
// ! Стрелка */
.slick-arrow {
    margin-top: -30px;
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 47px;
    height: 47px;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
    left: 0;
    background: url("../img/left.svg") center / 20% no-repeat;
    background-color: rgba(42, 42, 42, 0.14);
}
/* Стрелка вправо */
.slick-arrow.slick-next {
    right: 0;
    background: url("../img/right.svg") center / 20% no-repeat;
    background-color: rgba(42, 42, 42, 0.14);
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.product .accordion__item {
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}

.product .accordion__link {
    display: block;
    font-size: 14px;
    line-height: 33px;
    font-weight: 400;
    color: #6f6e6e;
}

.product .accordion__header {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
}

.product .accordion__header::before {
    content: "";
    margin-right: 10px;
    width: 5px;
    height: 37px;
    background-color: $pink;
}

.product .accordion__header::after {
    // flex-shrink: 0;
    // width: 1.25rem;
    // height: 1.25rem;
    // margin-left: auto;
    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    // background-repeat: no-repeat;
    // background-size: 1.25rem;
    content: "";
    position: absolute;
    right: 5px;
    // transition: transform 0.2s ease-out;
    width: 0;
    height: 0;
    border-top: 5px solid #838383;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transition: 0.3s;
}

.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
    transform: rotate(-180deg);
    border-top: 5px solid $pink;
}

.accordion__item_show .accordion__header {
    color: $pink;
}

.accordion__header:hover {
}

.accordion__item:not(.accordion__item_show) .accordion__header {
}

.accordion__content {
    padding-left: 15px;
    padding-top: 10px;
    background: #fff;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}

.product {
    margin-top: 70px;
    &__row {
        display: flex;
    }
    &__accord {
        flex: 0 1 23%;
        margin-right: 50px;
    }
    &__body {
        flex: 0 1 80%;
        margin-bottom: 110px;
    }

    &__filter2 {
        display: flex;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }
}

.filter {
    display: flex;
    justify-content: space-between;
    &__trend {
        flex: 0 1 33.333%;
    }

    &__title {
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: #6f6e6e;
        margin-bottom: 10px;
    }

    &__trend-row {
        width: 180px;
    }

    &__trend-row span {
        color: #dfdfdf;
        padding: 0px 7px;
    }

    &__link {
        font-family: Lato;
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        color: #6f6e6e;
        transition: 0.3s;
    }

    &__link:hover {
        color: $pink;
    }

    &__size {
        flex: 0 1 33.333%;
    }

    &__size form {
        width: 230px;
    }

    &__price {
        flex: 0 1 33.333%;
    }
}

.filter2 {
    margin-top: 40px;
    background-color: #f3f3f3;
    padding: 10px;
    form {
        display: flex;
        position: relative;
        z-index: 11;
        p {
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
            color: #6f6e6e;
            border: 1px solid #ebebeb;
            padding: 2px 9px 2px 5px;
        }
    }

    &__select-1 {
        padding: 2px 30px 2px 15px;
        border-top: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
    }

    &__select-2 {
        padding: 2px 30px 2px 15px;
        border-top: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
    }
    &__sort-by {
        margin-right: 10px;
        background-color: #fff;
    }

    &__show {
        background-color: #fff;
    }
    &__ar1 {
        position: relative;
    }

    &__ar2 {
        position: relative;
    }
    &__main-link {
        display: block;
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        color: #6f6e6e;
    }

    &__submenu2 {
        padding: 0 33px 0 12px;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        left: -15px;
        top: 29px;
        background-color: #ffffff;
        box-shadow: 0px 3px 10px 0px #646464;
        transition: 0.3s;
    }

    &__submenu2.open {
        opacity: 1;
        visibility: visible;
        transform: translate(0px 0px);
        pointer-events: all;
    }
    &__submenu1 {
        padding: 0 22px 0 12px;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        left: -15px;
        top: 29px;
        background-color: #ffffff;
        box-shadow: 0px 3px 10px 0px #646464;
        transition: 0.3s;
    }

    &__submenu1.open {
        opacity: 1;
        visibility: visible;
        transform: translate(0px 0px);
        pointer-events: all;
    }

    &__submenu-link-2 {
        display: block;
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        color: #6f6e6e;
    }

    &__submenu-link-2:hover {
        color: $pink;
    }
}

.pagination {
    display: flex;
    justify-content: start;
    &__list {
        border: 1px solid #ebebeb;
        border-radius: 3px;
        padding: 8px 2px;
        display: flex;
        justify-content: start;
    }

    &__ico {
    }

    &__item {
        padding: 0px 10px;
    }

    &__link {
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        color: #c4c4c4;
    }

    &__link_current {
        color: $pink;
    }

    &__view {
        display: block;
        border: 1px solid $pink;
        border-radius: 3px;
        align-self: center;
        transition: 0.3s;
    }

    &__view:hover {
        background-color: $pink;
    }

    &__view:hover .pagination__button {
        color: #fff;
    }

    &__button {
        padding: 8px 45px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        color: #ef5b70;
    }
}

.fa-angle-left {
    color: #aaaaaa;
}

.fa-angle-right {
    color: $pink;
}

.arrow-3 {
    position: absolute;
    right: -28px;
    top: 12px;
    margin-right: 6px;
    width: 0;
    height: 0;
    border-top: 5px solid #838383;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transition: 0.3s;
}

.arrow-3.active {
    transform: rotate(-180deg);
    border-top: 5px solid $pink;
}

.arrow-4 {
    position: absolute;
    right: -28px;
    top: 12px;
    margin-right: 6px;
    width: 0;
    height: 0;
    border-top: 5px solid #838383;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transition: 0.3s;
}

.arrow-4.active {
    transform: rotate(-180deg);
    border-top: 5px solid $pink;
}

.check {
    margin-left: 5px;
    padding-left: 1.2em;
    margin-right: 20px;
    margin-bottom: 10px;
    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }

    &__box {
        position: absolute;
        margin-left: -1.5em;
        margin-top: 0.35em;
        width: 0.8em;
        height: 0.8em;
        background-color: #fff;
        box-shadow: 0 0 0 0.1em #ebebeb;
    }

    &__input:checked + .check__box {
        background-color: $pink;
        background-image: url(../img/check.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    &__input:focus + .check__box {
        box-shadow: 0 0 0 0.1em #ebebeb, 0 0 0 0.2em $pink;
    }
}
.option {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
}

.check:nth-child(6) {
    margin-left: 23px;
}
.check:nth-child(7) {
    margin-left: 6px;
}

.attribut {
    background-color: #222224;
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        text-align: center;
        margin-bottom: 115px;
    }

    &__ico {
        margin-top: 90px;
        margin-bottom: 30px;
    }

    &__info {
    }

    &__title {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #fbfbfb;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 14px;
        line-height: 23px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #fbfbfb;
        max-width: 320px;
    }
}
/* Ползунок */

.polzunok-container-5 * {
    box-sizing: border-box;
    outline: none;
}
.polzunok-container-5 {
}
.polzunok-container-5:after {
    content: "";
    clear: both;
    display: table;
}
.polzunok-container-5 .ui-slider {
    position: relative;
    background: #f0f0f0;
    height: 6px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(255, 255, 255, 1);
}
.polzunok-container-5 .ui-slider .ui-slider-handle {
    position: absolute;
    margin-left: -10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 50%;
    top: -5px;
    background: $pink;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, border 0.4s;
}
.polzunok-container-5 .ui-slider .ui-slider-handle:hover,
.polzunok-container-5 .ui-slider .ui-slider-handle:focus {
    transform: scale(1.2);
}
.polzunok-input-5-left,
.polzunok-input-5-right {
    height: 32px;
    background: #fff;
    border-radius: 28px;
    border: 2px solid $pink;
    text-align: center;
    width: 50px;
    margin-top: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
}
.polzunok-input-5-left {
    float: left;
}
.polzunok-input-5-right {
    float: right;
}
.polzunok-container-5 .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 6px;
    border: 0;
    background: $pink;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), 1px 1px 5px rgba(255, 255, 255, 1);
}

.productt {
    margin-top: 48px;
}

.forms .accordion__item {
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    border-bottom: 1px solid #e8e8e8;
}

.forms .accordion__header {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-out;

    font-size: 16px;
    line-height: 72px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.forms {
    &__acc {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}

.forms .accordion {
    &__row {
        display: flex;
        justify-content: space-around;
        margin-bottom: 70px;
    }

    &__check {
        // display: flex;
        // flex-direction: column;
        // align-content: space-between;
    }

    &__article {
        margin-bottom: 40px;
    }

    &__article2 {
        margin-bottom: 36px;
        margin-top: 30px;
    }

    &__title {
        margin-bottom: 5px;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
    }

    &__text {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #b3b2b2;
    }

    &__red {
        margin-top: 20px;
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        color: #ff0d0d;
    }

    &__list {
    }

    &__button {
        margin-top: 35px;
        display: inline-block;
        border: 1px solid #eaeaea;
    }

    &__contin {
        padding: 15px 50px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #4a4a4a;
    }

    &__register {
    }

    &__register-form {
        input {
            margin-top: 10px;
            padding-left: 10px;
            font-size: 20px;
            width: 390px;
            height: 45px;
            background-color: #ffffff;
            border: 1px solid #eaeaea;
        }

        label {
            p {
                font-size: 12px;
                line-height: 20px;
                font-weight: 700;
                color: #222222;
                text-transform: uppercase;
                span {
                    font-size: 17px;
                    line-height: 20px;
                    font-weight: 400;
                    color: #ff0d0d;
                }
            }
        }
    }

    &__lmt {
        margin-top: 15px;
    }

    &__article3 {
        margin-bottom: 22px;
    }

    &__btns {
        margin-top: 32px;
        display: flex;
    }

    &__login {
        border: 1px solid #eaeaea;
        margin-right: 32px;
    }

    &__login-btn {
        padding: 15px 70px 15px 50px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #4a4a4a;
    }

    &__fogot {
        align-self: center;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        color: #222222;
    }

    &__radio1 {
        margin-bottom: 10px;
    }
}

.radio {
    &__option {
        font-size: 12px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
    }

    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }

    &__input:checked + .radio__box::before {
        // display: block;
        transform: translate(-52%, -45%) scale(1);
    }

    &__box {
        position: relative;
        display: inline-block;
        width: 14px;
        height: 14px;
        background-color: #ffffff;
        border: 2px solid #000;
        border-radius: 50%;
        margin-right: 15px;
        vertical-align: text-top;
    }

    &__box::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-52%, -45%) scale(0);
        // display: none;
        width: 6px;
        height: 6px;
        background: #000;
        border-radius: 50%;
        transition: 0.3s;
    }
}

.fa-angles-right {
    vertical-align: middle;
    font-size: 8px;
}

.cartt {
    margin-top: 90px;
    &__body {
    }

    &__header {
    }

    &__item {
    }

    &__footer {
        margin-top: 40px;
        margin-bottom: 60px;
        &_row {
            display: flex;
            justify-content: space-between;
        }
    }

    &__btn {
    }

    &__btn-text {
        font-size: 14px;
        padding: 15px 38px;
    }
}

.cart-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;

    &__left {
        flex: 0 1 40%;
        p {
            font-size: 13px;
            line-height: 20px;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: -0.015em;
            color: #222222;
        }
    }

    &__right {
        flex: 0 1 60%;
        display: flex;
        justify-content: space-between;
        p {
            font-size: 13px;
            line-height: 20px;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: -0.015em;
            color: #222222;
        }
    }
}

.cart-item {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    &__image {
        flex: 0 1 42%;
        display: flex;
    }

    &__img {
    }

    &__text {
        margin-top: 10px;
        margin-left: 20px;
        h4 {
            font-size: 13px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #222222;
            margin-bottom: 35px;
        }

        p {
            font-size: 13px;
            line-height: 20px;
            font-weight: 700;
            color: #575757;
            span {
                font-weight: 400;
                color: #6f6e6e;
            }
        }
    }

    &__list {
        flex: 0 1 56%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            font-size: 13px;
            line-height: 20px;
            font-weight: 700;
            color: #656565;
        }
    }

    &__number {
        width: 55px;
        height: 30px;
        padding-left: 22px;
        border: 1px solid #eaeaea;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #656565;
    }

    &__button {
        margin-left: 0;
    }

    &__cross {
        display: block;
        position: relative;
        width: 20px;
        height: 20px;
        z-index: 30;
    }

    &__cross::before,
    &__cross::after {
        content: "";
        background-color: #e4c4c4;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }

    &__cross::before {
        transform: rotate(45deg);
        top: 9px;
    }

    &__cross::after {
        transform: rotate(-45deg);
        top: 9px;
    }
}
.cart-button {
    display: block;
}

.cart-button:hover .cart-button-text {
    color: $pink;
}

.cart-button-text {
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
    border: 1px solid #eaeaea;
    transition: 0.3s;
}

.cards {
    &__row {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    &__card {
        padding: 0px 8px;
        &_bc {
            background-color: #f5f3f3;
            text-align: right;
            padding: 38px;
        }
    }

    &__article {
        margin-top: 22px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        color: #000000;
    }

    &__article-sub {
        font-size: 11px;
        line-height: 1.2;
        font-weight: 600;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-bottom: 12px;
    }

    &__marg {
        margin-left: 15px;
    }

    &__marg-2 {
        margin-left: 15px;
        color: $pink;
    }

    &__title {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        color: #222222;
    }

    &__select-1 {
        margin-top: 20px;
        padding: 12px 30px 12px 15px;
        border: 1px solid #ebebeb;
        width: 355px;
    }

    &__ar1 {
        position: relative;
    }

    &__main-link {
        display: block;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 400;
        color: #b1b1b1;
    }

    &__arrow {
    }

    &__submenu1 {
        padding: 0 22px 0 12px;
        width: 115%;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        left: -15px;
        top: 29px;
        background-color: #ffffff;
        box-shadow: 0px 3px 10px 0px #646464;
        transition: 0.3s;
    }

    &__submenu1.open {
        opacity: 1;
        visibility: visible;
        transform: translate(0px 0px);
        pointer-events: all;
    }

    &__submenu-link-2 {
        display: block;
        padding: 10px 0px;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 400;
        color: #b1b1b1;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: relative;
    }

    &__input {
        margin-top: 20px;
        width: 355px;
        height: 45px;
        padding-left: 15px;
        border: 1px solid #eaeaea;
    }

    &__input::placeholder {
        color: #b1b1b1;
    }

    &__btn {
        margin-top: 20px;
        background-color: #fff;
        border: 1px solid #eaeaea;
        width: 100px;
        height: 35px;
        font-size: 11px;
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        color: #4a4a4a;
    }

    &__button {
        display: block;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #e2e2e2;
    }

    &__button-text {
        padding: 15px 32px;
        background-color: $pink;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
}

.arrow-5 {
    position: absolute;
    right: -28px;
    top: 5px;
    margin-right: 6px;
    width: 0;
    height: 0;
    border-top: 5px solid #bdbdbd;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transition: 0.3s;
}

.arrow-5.active {
    transform: rotate(-180deg);
    border-top: 5px solid $pink;
}
